body {
    font-family: tahoma
}

.main_href {
    font-size: 15px;
    color: #333
}

#results{
li articale {
    font-size: 12px;
    color: #666
  }
li {
    padding-bottom: 10px;
  }
}
.resultpane{
  padding-top:10px;
  background-color:#E9EEF5;
  border:1px dashed;
}

#matched{
  margin-left:2px;
}